<div class="p-5 mb-4 mt-4 bg-light rounded-3 border">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenue dans le catalogue des cours</h1>
        <p class="col-md-8 fs-4">
            Explorez nos formations en ligne, conçues par des experts pour vous aider à progresser.
        </p>
        <a href="{{ path('app_catalog_all') }}" class="btn btn-primary btn-lg">Voir tous les cours</a>
    </div>
</div>
