<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_catalog_all') }}">Catalogue des cours</a>
    </li>
    <!-- ... autres liens ... -->
    {% if app.user is not null %}
        <!-- Liens pour utilisateur connecté -->
        <a class="dropdown-item" href="#">Profil</a>
        <a class="dropdown-item" href="#">Se déconnecter</a>
    {% else %}
        <!-- Liens pour utilisateur non connecté -->
        <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
</ul>
